body {
    width: 100%;
    margin: 0px;
}

.top {
    background-color: rgba(0, 0, 0, 1.0);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.1);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.menu {
    padding: 3px 6px;
    color: rgba(153, 153, 153, 1);
    text-transform: uppercase;
    font-weight: 400;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
}

.menu-left {
    color: #5f5f5f;
    text-shadow: 0px 0px 3px rgba(102, 102, 102, 0.9);
    letter-spacing: 6px;
}

.menu-right {
    text-align: right;
}

.menu-right a {
    display: inline-block;
    padding: 0px 5px;
    color: rgba(153, 153, 153, 1);
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}


/* visited link */

a:visited {
    color: rgba(153, 153, 153, 1);
}


/* mouse over link */

a:hover {
    color: rgb(214, 214, 214);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}


/* selected link */

a:active {
    color: yellow;
}

li {
    display: inline-block;
    text-align: center;
}

ul {
    margin: 0px;
}

.left {
    float: left;
    width: 75%;
}

.right {
    float: right;
    width: 25%
}

.bottom {
    float: left;
    padding: 10px 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1.0);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.1);
    color: rgb(108, 108, 108);
    text-shadow: 0px 0px 2px rgb(98, 98, 98);
    font-weight: 400;
    font-size: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container {
    background-image: url("https://i.imgur.com/qfv1mn7.png");
    color: rgba(153, 153, 153, 1);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1.0);
    font-weight: 200;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    line-height: 1.5;
    box-shadow: 0 0 2px 2px black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.container_main {
    margin: 10px;
    border-right: solid 6px rgba(0, 0, 0, 1.00);
    border-left: solid 6px rgba(0, 0, 0, 1.00);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(168, 168, 168, 0.1);
    box-shadow: 0px 0px 0px 2px rgba(168, 168, 168, 0.1);
}

.container_main_header {
    padding: 5px 0px 2px 0px;
    background-color: rgba(0, 0, 0, 0.00);
    color: rgba(153, 153, 153, 1);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1.0);
    letter-spacing: 4px;
    font-weight: 200;
    font-size: 11px;
}

.container_main_description {
    padding: 4px 7px;
    border-radius: 5px;
    background-image: url("https://i.imgur.com/jPhgSZO.jpg");
    -webkit-box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 0px 2px 2px rgba(203, 203, 203, 0.1);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1.0);
    letter-spacing: 1px;
}

.clear {
    clear: both;
}

.logo {
    display: block;
    margin: 20px auto;
    width: 250px;
}

.title {
    text-align: center;
    font-size: 20px;
}

.offer {
    background-color: rgba(131, 0, 2, 1.00);
    background-image: none;
    color: whitesmoke;
    text-align: center;
    text-shadow: 0px 0px 1px rgb(0, 0, 0, 1.0);
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 20px;
}

.was {
    background-color: rgb(167, 101, 12);
    background-image: none;
    color: whitesmoke;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 20px;
    text-decoration: line-through;
    text-decoration-color: rgba(255, 255, 255, 0.46);
}

.now {
    background-color: rgb(68, 103, 26);
    background-image: none;
    color: whitesmoke;
    text-align: center;
    text-shadow: 0px 0px 1px rgb(27, 57, 4);
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 20px;
}

.cover {
    width: 100%;
    border-radius: 5px;
}

.no-padding {
    padding: 0px;
    width: 100%;
}

.padding-b-5 {
    padding-bottom: 5px;
}

.in-stock {
    color: #4aaf00;
}

.legal {
    font-size: 32px;
}

.center-image {
    display: block;
    margin: 0px auto;
    width: 60%;
}

.width-100 {
    width: 100%;
    border-radius: 10px
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::-moz-selection {
    background: none;
    color: white;
}

*::selection {
    background: none;
    color: white;
    text-decoration: underline;
}

*::-moz-selection {
    background: indianred;
    color: white;
}

[class*="col-"] {
    float: left;
}

.row::after {
    display: block;
    content: "";
}


/* Large desktop */

@media (min-width: 1200px) {
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        margin: 0 auto;
        width: 25%;
        text-align: center;
    }
    .col-4 {
        width: 33.33%;
        margin: 0 auto;
        text-align: center;
    }
    .col-6 {
        width: 50%;
    }
    .col-12 {
        width: 100%;
    }
.col-0 {
    width: 25%;
}
    .nav label {
        display: none;
        opacity: 0;
    }
    .container {
        width: 90%;
        margin: 5px auto;
    }
    .legal-note {
        width: 75%;
    }
    .arrow:nth-child(-n + 2):after {
        position: absolute;
        top: -10px;
        right: -20px;
        z-index: 2;
        content: " » ";
        font-size: 70px;
    }
    .menu-left {
        text-align: left;
    }
    .menu-right {
        padding-right: 26px;
        text-align: right;
    }
    .hit-numbers {
        display: none;
    }
    .font-12 {
        font-size: 12px;
    }
    .slides,
    .slide {
        height: 450px;
    }
    .nav label {
        line-height: 400px;
    }
    .container {
        border-radius: 10px;
    }
}


/* Smaller desktop */

@media (max-width: 1199px) and (min-width: 980px) {
    .col-2 {
        width: 16.66%;
    }
        .col-3 {
        margin: 0 auto;
        width: 25%;
        text-align: center;
    }
    .col-4 {
        margin: 0 auto;
        width: 33.33%;
        text-align: center;
    }
    .col-6 {
        width: 50%;
    }
    .col-12 {
        width: 100%;
    }
.col-0 {
    width: 25%;
}
    .legal-note {
        width: 100%;
    }
    .nav label {
        display: none;
        opacity: 0;
    }
    .container {
        width: 100%;
        margin: 5px auto;
    }
    .legal-note {
        width: 95%;
    }
    .arrow:nth-child(-n + 2):after {
        position: absolute;
        top: -10px;
        right: -20px;
        z-index: 2;
        content: " » ";
        font-size: 70px;
    }
    .hit-numbers {
        display: none;
    }
    .menu-right {
        padding-right: 26px;
    }
    .font-12 {
        font-size: 12px;
    }
    .slides,
    .slide {
        height: 400px;
    }
    .nav label {
        line-height: 330px;
    }
}


/* Landscape phone to portrait tablet */

@media (max-width: 979px) {
    .left,
    .right {
        width: 100%;
        margin: 0px;
    }
    .col-2 {
        width: 33.3%;
    }
    .col-12 .col-6 {
        width: 100%;
    }
    .center-image {
        width: 100%;
    }
    .col-12 {
        width: 100%
    }
    .col-6 {
        width: 50%
    }
    .nav label {
        display: none;
        border: solid 0px rgba(0, 0, 0, 0.0);
        background-color: rgba(0, 0, 0, 0.0);
        -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0);
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0);
        opacity: 0.5;
    }
    .container {
        width: 100%;
        margin: 0px auto;
    }
    .legal-note {
        width: 90%;
    }
     .col-3 {
        margin: 10px auto;
        width: 50%;
        text-align: center;
    }
    .col-4 {
        margin: 0px auto;
        width: 33.33%;
        text-align: center;
    }
    .col-6.menu-left {
        width: 100%;
        text-align: center;
    }
    .col-6.menu-right {
        width: 100%;
        text-align: center;
    }
    .slides,
    .slide {
        height: 350px;
    }
    .nav label {
        line-height: 300px;
    }
}


/* Landscape phones and down */

@media (max-width: 480px) {
    .left,
    .right {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    .col-2 {
        width: 33.3%;
    }
    .col-12 .col-6 {
        width: 100%;
    }
    .center-image {
        width: 100%;
    }
    .col-12 {
        width: 100%
    }
    .col-6 {
        width: 50%
    }
    .container {
        width: 100%;
        margin: 0px auto;
    }
    .legal-note {
        width: 100%;
    }
    .col-3 {
        margin: 10px auto;
        width: 50%;
        text-align: center;
    }
    .col-6.menu-left {
        width: 100%;
        text-align: center;
    }
    .col-6.menu-right {
        width: 100%;
        text-align: center;
    }
    .hit-numbers {
        display: inline;
    }
    .slides,
    .slide {
        height: 250px;
    }
    .nav label {
        line-height: 250px;
    }
}


/* SLIDER  */

@import url(https://fonts.googleapis.com/css?family=Varela+Round);
.slides {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    background-color: black;
    padding: 0px;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input {
    display: none;
}

.slide-container {
    display: block;
}

.slide {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform: scale3d(1, 1, 0);
    transform: scale3d(1, 1, 0);
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
img {object-fit:fill;}

.nav label {
    position: absolute;
    z-index: 9;
    width: 20%;
    height: 80%;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
    font-size: 100pt;
    font-family: "Varela Round", sans-serif;
    cursor: pointer;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.slide:hover + .nav label {
    opacity: 0.7;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.slides:hover .nav-dots {
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.nav label:hover {
    font-size: 156pt;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.nav .next {
    right: 0;
}

input:checked + .slide-container .slide {
    opacity: 1;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
}

input:checked + .slide-container .nav label {
    display: block;
}

.nav-dots {
    position: absolute;
    bottom: 9px;
    display: block;
    width: 100%;
    height: 10px;
    text-align: center;transition: all .5s ease-in-out;
    opacity: 0;
}

.nav-dots .nav-dot {
    position: relative;
    top: -5px;
    display: inline-block;
    margin: 0 4px;
    width: 5px;
    height: 5px;
    border: solid 0px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.8);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.nav-dots .nav-dot:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

input#img-1:checked ~ .nav-dots label#img-dot-1 {
    width: 15px;
    height: 15px;
    background: rgb(187, 0, 0);
    -webkit-box-shadow: 0px 0px 1px 1px rgb(124, 6, 6);
    box-shadow: 0px 0px 1px 1px rgb(124, 6, 6);
}
input#img-1:checked ~ .nav-dots {
    margin-bottom: 40px;
    transition: all .5s ease-in-out;
}
input#img-1 ~ .nav-dots label#img-dot-1 {
    background: rgb(187, 0, 0);
    -webkit-box-shadow: 0px 0px 1px 1px rgb(124, 6, 6);
    box-shadow: 0px 0px 1px 1px rgb(124, 6, 6);
}

input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6,
input#img-7:checked ~ .nav-dots label#img-dot-7,
input#img-8:checked ~ .nav-dots label#img-dot-8 {
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 1);
}

.legal-note {
    padding: 5px 10px 20px 10px;
    color: #5d5d5d;
    text-align: justify;
    font-size: 12px;
}

.fa {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    color: rgb(144, 144, 144);
    text-shadow: 0px 0px 4px rgb(167, 167, 167);
}

.fa-5x {
    margin: 10px;
    color: rgb(144, 144, 144);
    text-shadow: 0px 0px 22px rgb(0, 0, 0);
}

.arrow {
    text-transform: uppercase;
    text-shadow: 0px 0px 22px rgb(0, 0, 0);
    font-weight: 400;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    padding: 10px 0;
}

.arrow:hover {
    visibility: visible;
    background-color: rgba(0, 0, 0, 1.0);
    box-shadow: 0px 0px 4px black;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.col-4 {
    position: relative;
    text-shadow: 0px 0px 22px rgb(0, 0, 0);
}

.fa-5x:last-child:after {
    position: relative;
    content: " ";
}

.gift {
    background-color: rgb(156, 121, 168);
    background-image: none;
    color: black;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 1px rgb(80, 80, 80);
    font-weight: 400;
    font-size: 14px;
    box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 0.2);
}

.gift-icon {
    padding: 5px 0px 10px 0px;
    text-align: center;
    font-size: 150px;
}

.tooltip {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 12px;
}

.tooltip .tooltiptext-top,
.tooltiptext-bottom,
.tooltiptext-hit {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    padding: 6px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 1.0);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 1);
    color: rgb(108, 108, 108);
    text-align: center;
    text-transform: none;
    text-shadow: 0px 0px 2px rgb(98, 98, 98);
    font-weight: 400;
    font-size: 12px;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.tooltip .tooltiptext-top {
    width: 180px;
}

.tooltip .tooltiptext-bottom {
    width: 120px;
}

.tooltip .tooltiptext-hit {
    width: 140px;
}

.tooltip .tooltiptext-top,
.tooltiptext-bottom,
.tooltiptext-hit {
    left: 50%;
}

.tooltip .tooltiptext-top {
    bottom: 100%;
    margin-left: -90px;
    width: 180px;
}

.tooltip .tooltiptext-bottom {
    top: 100%;
    margin-left: -60px;
    width: 120px;
}

.tooltip .tooltiptext-hit {
    top: 100%;
    margin-left: -70px;
    width: 140px;
}

li .tooltip .tooltiptext-bottom {
    top: 100%;
    margin-left: -60px;
    width: 120px;
}

.tooltip:hover .tooltiptext-top,
.tooltip:hover .tooltiptext-bottom,
.tooltip:hover .tooltiptext-hit {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.tooltip:hover .tooltiptext-top {
    animation: bounce 0.7s;
}
.tooltip:hover .tooltiptext-bottom, .tooltip:hover .tooltiptext-hit {
    animation: bounce2 0.7s;
}

.tooltip:hover .tooltiptext-top {
    bottom: 140%;
}

.tooltip:hover .tooltiptext-bottom {
    top: 140%;
}

.tooltip:hover .tooltiptext-hit {
    top: 130%;
}

li .tooltip:hover .tooltiptext-bottom {
    top: 220%;
}

.e {
    color: rgba(228, 49, 55, 1.0);
}

.b {
    color: rgba(0, 99, 209, 1.0);
}

.a {
    color: rgba(244, 174, 1, 1.0);
}

.y {
    color: rgba(133, 183, 23, 1.0)
}

.e,
.b,
.a,
.y {
    font-weight: 300;
}

.purple {
    color: rgb(156, 121, 168);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    -webkit-text-decoration-color: rgb(156, 121, 168);
    text-decoration-color: rgb(156, 121, 168);
}

.pay {
    color: #003087;
}

.pal {
    color: #009cde;
}

.ytvideo {
    font-family: arial;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.ytvideo a:after {
    content: "\A0\25BA";
    position: absolute;
    width: 60px;
    height: 50px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 0;
    border-radius: 10px;
    color: white;
    background: rgba(0, 0, 0, .6);
    font-size: 24px;
    line-height: 50px;
    cursor: pointer;
}

.ytvideo a:hover:after {
    background: #CC181E;
}

video {
    width: 100%;
    height: 100%;
    object-fit:fill;
}

video::-internal-media-controls-download-button {
    display: none;
}

video::-webkit-media-controls-volume-slider {
display:none;
}
video::-webkit-media-controls-mute-button {
display:none;
}
.pegi {max-width: 60px;}

.language-country {
 width: 37%;
    display: inline-block;
    font-size: 12px;
}
.language {
 width: 19%;
    display: inline-block;
    text-align: center;
}
.notice {
    color: rgb(204, 38, 38);
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
@keyframes bounce2 {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}

	80% {
		-webkit-transform: translateY(5px);
		transform: translateY(5px);
	}
}
.tooltip:hover .fa{
    color: rgb(195, 195, 195);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
